* {
  color: white;
}
/* .container {
  
  padding: 7px;
  border-radius: 5px;

} */

body {
  margin: 0;
  padding: 0;
  background-color: #0b2447;
  font-family: Montserrat;
}

html {
  background-color: #0b2447;
  width: 100%;
}

.navbar {
  font-family: Montserrat;
  background-color: #d4adfc;
  color: #0b2447 !important;
  font-weight: bolder;
  font-size: 15px;
  height: 90px;
  position: sticky;
}

.form-nav {
  font-size: 15px;
  height: 40px;
}

.btn-nav {
  height: 32px;
  font-size: 15px;
  padding: 0 10px 0 10px !important;
}

.nav-link {
  margin-right: 20px;
  font-weight: bolder;
  color: #0b2447 !important;
}

.navbar-brand img {
  margin: 10px;
}

footer {
  height: 60px;
  bottom: 0;
  width: 100%;
  position: fixed;
  padding-top: 10px;
  background-color: #d4adfc;
  color: #0b2447 !important;
}

footer p {
  color: #0b2447 !important;
  margin-bottom: 0;
  padding: 0px;
  text-shadow: #4d73f1;
  font-family: Montserrat;
}

.text-footer {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: space-around;
  padding-top: 10px;
}

input,
textarea {
  color: #0b2447 !important;
  font-size: 15px;
  font-family: Montserrat;
}

input {
  height: 28px !important;
}

#taskNames {
  padding-left: 10px;
}

select {
  background-color: white;
  color: #0b2447 !important;
  font-size: 30px;
}

#iframe {
  height: 76vh !important;
  width: 99%;
  border: none;
}

.w-50 {
  width: 333px !important;
}

.btn-md {
  height: 38px;
  width: 38px;
  font-size: 20px;
}

.welcome {
  padding-bottom: 10px;
}

h2 {
  font-weight: bold;
}

#myForm {
  border-style: none;
  background-color: #0b2447;
}
#form {
  background-color: #0b2447;
}
/* #submit  {
  background-color: #466999 !important ;
} */

#submit {
  background-color: #d4adfc !important ;
}

p {
  font-family: Montserrat;
  color: white;
  font-size: 12px;
  text-align: left;
}

option {
  color: #0b2447;
}
.bg-gray {
  background-color: rgb(173, 170, 170) !important ;
}
.bg-blue {
  background-color: #4d73f1 !important ;
}
.bg-lightGray {
  background-color: rgb(221, 217, 217) !important ;
}

.jhjh {
}
